---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Teaching">
  <p>
    I taught an undergraduate course titled{' '}
    <i>Economic Analysis of Engineering Projects</i>{' '}
    at Texas A&M University in Spring 2012.
  </p>
</Layout>
